<div class="card bg-dark text-white mb-3 my-3 mx-3" >

  <div class="card-header">{{ tituloFormRegistro }}</div>
  <div class="card-body">
    <form>

      <!-- Numero Registro -->
      <div class="form.group row">
        <label for="numeroRegistro" class="col-form-label col-sm-2">Nº REGISTRO</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="registro.numeroRegistro" name="numeroRegistro" required
                 #numeroRegistro="ngModel">
          <div class="alert alert-danger" *ngIf="numeroRegistro.invalid && (numeroRegistro.dirty || numeroRegistro.touched)">
            <div *ngIf="numeroRegistro.errors.required">
              El número del registro es requerido.
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Formato Registro -->
      <div class="form.group row">
        <label for="formatoRegistro" class="col-form-label col-sm-2">FORMATO REGISTRO</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="registro.formatoRegistro" name="formatoRegistro" required
                 #formatoRegistro="ngModel">
          <div class="alert alert-danger" *ngIf="formatoRegistro.invalid && (formatoRegistro.dirty || formatoRegistro.touched)">
            <div *ngIf="formatoRegistro.errors.required">
              El formato del registro es requerido.
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Numero Trabajadores -->
      <div class="form.group row">
        <label for="numeroTrabajadores" class="col-form-label col-sm-2">Nº TRABAJADORES</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" [(ngModel)]="registro.numeroTrabajadores" name="numeroTrabajadores" required
                 #numeroTrabajadores="ngModel">
          <div class="alert alert-danger" *ngIf="numeroTrabajadores.invalid && (numeroTrabajadores.dirty || numeroTrabajadores.touched)">
            <div *ngIf="numeroTrabajadores.errors.required">
              El numero de trabajadores en el registro es requerido.
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckboxRevisado" [(ngModel)]="registro.revisado" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="inlineCheckboxRevisado">REVISADO</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckboxAprobado" [(ngModel)]="registro.entregado" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="inlineCheckboxAprobado">ENTREGADO</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckboxEntregado" [(ngModel)]="registro.aprobado" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="inlineCheckboxEntregado">APROBADO</label>
      </div>

      <br>
      <br>
      <!-- Nombre Proyecto Operario -->
      <div class="form.group row">
        <label for="nombreProyectoOperario" class="col-form-label col-sm-2">NOMBRE PROYECTO OPERARIO</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="registro.nombreProyectoOperario" name="nombreProyectoOperario" required
                 #nombreProyectoOperario="ngModel">
          <div class="alert alert-danger" *ngIf="nombreProyectoOperario.invalid && (nombreProyectoOperario.dirty || nombreProyectoOperario.touched)">
            <div *ngIf="nombreProyectoOperario.errors.required">
              El nombre del proyecto en el registro es requerido.
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Planta Operario -->
      <div class="form.group row">
        <label for="plantaOperario" class="col-form-label col-sm-2">PLANTA OPERARIO</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="registro.plantaOperario" name="plantaOperario" required
                 #plantaOperario="ngModel">
          <div class="alert alert-danger" *ngIf="plantaOperario.invalid && (plantaOperario.dirty || plantaOperario.touched)">
            <div *ngIf="plantaOperario.errors.required">
              La planta del operario en el registro es requerido.
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Empleado -->
      <div class="form.group row">
        <label for="codigoEmpleado" class="col-form-label col-sm-2">EMPLEADO</label>
        <div class="col-sm-6">
          <select [compareWith]="compararEmpleado" class="custom-select form-control form-control-sm col-md-6" [(ngModel)]="registro.codigoEmpleado"
                  name="codigoEmpleado">
            <option [ngValue]="undefined"> SELECCIONAR</option>
            <option *ngFor="let empleado of empleados" [ngValue]="empleado">{{empleado.codigoPersona.nombres}} {{empleado.codigoPersona.apellidos}} </option>
          </select>
        </div>
      </div>

      <br>
      <!-- Proyecto -->
      <div class="form.group row">
        <label for="codigoProyecto" class="col-form-label col-sm-2">PROYECTO</label>
        <div class="col-sm-6">
          <select [compareWith]="compararProyecto" class="custom-select form-control form-control-sm col-md-6" [(ngModel)]="registro.codigoProyecto"
                  name="codigoProyecto">
            <option [ngValue]="undefined"> SELECCIONAR</option>
            <option *ngFor="let proyecto of proyectos" [ngValue]="proyecto">{{proyecto.nombreProyecto}} </option>
          </select>
        </div>
      </div>


      <!-- Boton -->
      <br>
      <br>
      <br>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='createRegistro()' *ngIf="!registro.id else elseBlockRegistro">
            Crear
          </button>

          <ng-template #elseBlockRegistro>
            <button class="btn btn-primary" role="button" (click)='updateRegistro()'>
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>

    </form>
  </div>
</div>
