<div class="card border-primary mb-3 my-3 mx-3">
  <div class="card-header">Listado de Empleados</div>
  <div class="card-body text-primary">
    <!--
      <h5 class="card-title">Listado de Puestos</h5>
    -->
    <div class="my-2 text-left">
      <button class="btn btn-primary btn-rounded" type="button" [routerLink]="['/registros/form']"> Crear Registro
      </button>
    </div>
    <table class="table table-borbered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nº REGISTRO</th>
        <th>TIPO DOC.</th>
        <th>NUMERO DOC.</th>
        <th>NOMBRE EMPLEADO</th>
        <th>FECHA REGISTRO</th>
        <th>EDITAR</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let registro of registros">
        <td>{{registro.id}}</td>
        <td>{{registro.numeroRegistro}}</td>
        <td>{{registro.codigoEmpleado.codigoPersona.tipoDocumento}}</td>
        <td>{{registro.codigoEmpleado.codigoPersona.numeroDocumento}}</td>
        <td>{{registro.codigoEmpleado.codigoPersona.nombres}} {{registro.codigoEmpleado.codigoPersona.apellidos}}</td>
        <td>{{registro.fechaRegistro}}</td>
        <td>
          <button class="btn btn-success" type="button" name="buttonUpdateRegistro"
                  [routerLink]="['/registros/form',registro.id]">Editar
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
