<div class="card border-primary mb-3 my-3 mx-3">
  <div class="card-header">Listado de Personas</div>
  <div class="card-body text-primary">
    <!--
      <h5 class="card-title">Listado de Puestos</h5>
    -->
    <div class="my-2 text-left">
      <button class="btn btn-primary btn-rounded" type="button" [routerLink]="['/personas/form']"> Crear Personas
      </button>
    </div>

    <table class="table table-borbered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRES</th>
        <th>APELLIDOS</th>
        <th>TIPO DOC.</th>
        <th>NUMERO DOC.</th>
        <th>TELEF.</th>
        <th>DIRECCIÓN</th>
        <th>EMEAIL</th>
        <th>EDITAR</th>
        <th>ELIMINAR</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let persona of personas">
        <td>{{persona.id}}</td>
        <td>{{persona.nombres}}</td>
        <td>{{persona.apellidos}}</td>
        <td>{{persona.tipoDocumento}}</td>
        <td>{{persona.numeroDocumento}}</td>
        <td>{{persona.telefono}}</td>
        <td>{{persona.direccion}}</td>
        <td>{{persona.email}}</td>
        <td>
          <button class="btn btn-success" type="button" name="buttonUpdatePersona"
                  [routerLink]="['/personas/form',persona.id]">Editar
          </button>
        </td>

        <td>
          <button class="btn btn-danger" type="button" name="buttonDeletePersona" (click)='deletePersona(persona)' >Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
