<div class="card bg-dark text-white mb-3 my-3 mx-3" >

  <div class="card-header">{{ tituloFormUsuario }}</div>
  <div class="card-body">
    <form>
      <!-- Username -->
      <div class="form.group row">
        <label for="username" class="col-form-label col-sm-2">USERNAME</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" required
                 minlength="4" #username="ngModel">
          <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
            <div *ngIf="username.errors.required">
              El username del usuario es requerido.
            </div>
            <div *ngIf="username.errors.minlength">
              El username del usuario debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Password -->
      <div class="form.group row">
        <label for="password" class="col-form-label col-sm-2">PASSWORD</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" required
                 minlength="4" #password="ngModel">
          <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">
              El password del usuario es requerido.
            </div>
            <div *ngIf="password.errors.minlength">
              El password del usuario debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Enable -->
      <div class="form-group row">
        <label for="enable" class="col-sm-2 col-form-label">ESTADO</label>
        <div class="col-sm-6">
          <select class="custom-select form-control form-control-sm col-md-6" [(ngModel)]="usuario.enable" name="enable">
            <option [ngValue]="undefined"> Seleccionar</option>
            <option value="false">INHABILITADO</option>
            <option value="true">HABILITADO</option>
          </select>
        </div>
      </div>

      <br>
      <!-- Empleado -->
      <div class="form.group row">
        <label for="codigoEmpleadoUsuario" class="col-form-label col-sm-2">EMPLEADO</label>
        <div class="col-sm-6">
          <select class="custom-select form-control form-control-sm col-md-6" [(ngModel)]="usuario.codigoEmpleado"
                  name="codigoEmpleadoUsuario">
            <option [ngValue]="undefined"> SELECCIONAR</option>
            <option *ngFor="let empleado of empleados" [ngValue]="empleado">{{empleado.codigoPersona.nombres}} {{empleado.codigoPersona.apellidos}} </option>
          </select>
        </div>
      </div>


      <!-- Boton -->
      <br>
      <br>
      <br>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='createUsuario()' *ngIf="!usuario.id else elseBlockUsuario">
            Crear
          </button>

          <ng-template #elseBlockUsuario>
            <button class="btn btn-primary" role="button" (click)='updateUsuario()'>
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>

    </form>
  </div>
</div>
