<div class="card border-primary mb-3 my-3 mx-3">
    <div class="card-header">Listado de Empleados</div>
    <div class="card-body text-primary">
      <!-- 
        <h5 class="card-title">Listado de Puestos</h5>
      -->
      
      <table class="table table-borbered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>USERNAME</th>
                <th>PASSWORD</th>
                <th>ESTADO</th>
                <th>NOMBRE EMPLEADO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.id}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.password}}</td>
                <td>{{usuario.enable}}</td>
                <td>{{usuario.codigoEmpleado.codigoPersona.nombres}} {{usuario.codigoEmpleado.codigoPersona.apellidos}}</td>
            </tr>
        </tbody>
      </table>

    </div>
</div>