<div class="card bg-light text-dark mb-3 my-3 mx-3">
  <div class="card-header">{{ tituloDetalleEmpleado }}</div>
  <div class="card-body">

    <div class="container">
      <div class="row">

        <div class="col-sm">
          <ul *ngIf="empleado" class="list-group text-dark mb-3">
            <li class="list-group-item text-bg-primary">DATOS PERSONALES</li>
            <li class="list-group-item">NOMBRE: {{empleado.codigoPersona.nombres}} {{empleado.codigoPersona.apellidos}}</li>
            <li class="list-group-item">DNI: {{empleado.codigoPersona.numeroDocumento}}</li>
            <li class="list-group-item">TELÉFONO: {{empleado.codigoPersona.telefono}}</li>
            <li class="list-group-item">EMAIL: {{empleado.codigoPersona.email}}</li>
            <li class="list-group-item">DIRECCIÓN: {{empleado.codigoPersona.direccion}}</li>
            <li class="list-group-item text-bg-warning">DATOS EMPRESARIAL</li>
            <li class="list-group-item">LICENCIA: {{empleado.licencia}}</li>
            <li class="list-group-item te">TIPO SANGRE: {{empleado.tipoSangre}}</li>
            <li class="list-group-item">PUESTO: {{empleado.codigoPuesto.descripcion}}</li>
          </ul>

          <div class="input-group">
            <input (change)="seleccionarFotoEmpleado($event)" type="file" class="form-control" id="inputGroupFile04"
                   aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button (click)="subirFotoEpp()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
              Upload
            </button>
          </div>
        </div>

        <div class="col-sm">
          <img *ngIf="empleado?.rutaFoto" src="{{urlEndPointEmpleado}}/uploads/img/{{empleado.rutaFoto}}"
               alt="{{empleado.rutaFoto}}"
               class="img-thumbnail rounded">
        </div>
      </div>

      <br>
      <div class="row">
        <div class="alert alert-info my-4" *ngIf="empleado.registros.length == 0">
          No Hay registros asignados al empleado {{empleado.codigoPersona.nombres}} {{empleado.codigoPersona.apellidos}}
        </div>
        <div class="col-sm">

          <div class="table-responsive">
            <table class="table table-striped table-bordered" *ngIf="registrosEmpleado?.length>0">
              <thead class="table-light thead-inverse bg-light text-white">
              <tr>
                <th>ID</th>
                <th>Nº REGISTRO</th>
                <th>FECHA</th>
                <th>PLANTA</th>
                <th>UBICACIÓN</th>
                <th>DETALLE</th>
                <th>ELIMINAR</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let registroEmpleado of registrosEmpleado">
                <td>{{registroEmpleado.id}}</td>
                <td>{{registroEmpleado.numeroRegistro}}</td>
                <td>{{registroEmpleado.fechaRegistro}}</td>
                <td>{{registroEmpleado.plantaOperario}}</td>
                <td>{{registroEmpleado.codigoProyecto.ubicacion}}</td>
                <td>
                  <button class="btn btn-success" type="button" name="buttonUpdateRegistro"
                          [routerLink]="['/registros/ver',registroEmpleado.id]">Ver
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" type="button" name="buttonDeleteRegistro"
                          (click)='deleteRegistroEmpleado(registroEmpleado)'>Eliminar
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
<!--            <app-paginator-registro *ngIf="paginadorRegistro" [paginador]="paginadorRegistro"></app-paginator-registro>-->
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
