<div class="card bg-dark text-white mb-3 my-3 mx-3">

  <div class="card-header">{{ tituloFormEmpleado }}</div>
  <div class="card-body">
    <form>

      <!-- Persona -->
      <div class="form.group row">
        <label for="personaEmpleado" class="col-form-label col-sm-2">PERSONA</label>
        <div class="col-sm-6">
          <select class="custom-select form-control form-control-sm col-md-6" [(ngModel)]="empleado.codigoPersona"
                  name="personaEmpleado">
            <option [ngValue]="undefined"> SELECCIONAR</option>
            <option *ngFor="let persona of personas" [ngValue]="persona">{{persona.apellidos}}</option>
          </select>
        </div>
      </div>

      <br>
      <!-- Licencia -->
      <div class="form.group row">
        <label for="licencia" class="col-form-label col-sm-2">LICENCIA</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="empleado.licencia" name="licencia" required
                 #licencia="ngModel">
          <div class="alert alert-danger" *ngIf="licencia.invalid && (licencia.dirty || licencia.touched)">
            <div *ngIf="licencia.errors.required">
              La licencia del empledo es requerido.
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- TipoSangre -->
      <div class="form.group row">
        <label for="tipoSangre" class="col-form-label col-sm-2">TIPO SANGRE</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="empleado.tipoSangre" name="tipoSangre" required
                 #tipoSangre="ngModel">
          <div class="alert alert-danger" *ngIf="tipoSangre.invalid && (tipoSangre.dirty || tipoSangre.touched)">
            <div *ngIf="tipoSangre.errors.required">
              El tipo de sangre del empleado es requerido.
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Puesto -->
      <div class="form.group row">
        <label for="puestoEmpleado" class="col-form-label col-sm-2">PUESTO</label>
        <div class="col-sm-6">
          <select class="custom-select form-control form-control-sm col-md-6" [(ngModel)]="empleado.codigoPuesto"
                  name="puestoEmpleado">
            <option [ngValue]="undefined"> SELECCIONAR</option>
            <option *ngFor="let codigoPuesto of puestos" [ngValue]="codigoPuesto">{{codigoPuesto.descripcion}} </option>
          </select>
        </div>
      </div>

      <!-- Boton -->
      <br>
      <br>
      <br>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='createEmpleado()'
                  *ngIf="!empleado.id else elseBlockEmpleado">
            Crear
          </button>

          <ng-template #elseBlockEmpleado>
            <button class="btn btn-primary" role="button" (click)='updateEmpleado()'>
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>

    </form>
  </div>
</div>
